<a href="https://colab.research.google.com/github/Ahtishamali17/skills-introduction-to-github/blob/main/python_(Ahtisham)_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
a=5
b=10
print(a+b)

15

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Cannot divide by zero"
    return x / y

while True:
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    print("5. Exit")

    choice = input("Enter choice(1/2/3/4/5): ")

    if choice == '5':
        break

    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if choice == '1':
        print(f"{num1} + {num2} = {add(num1, num2)}")
    elif choice == '2':
        print(f"{num1} - {num2} = {subtract(num1, num2)}")
    elif choice == '3':
        print(f"{num1} * {num2} = {multiply(num1, num2)}")
    elif choice == '4':
        print(f"{num1} / {num2} = {divide(num1, num2)}")
    else:
        print("Invalid input")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice(1/2/3/4/5): 5

19
Ahtisham Ali

In [ ]:
age = 19
name="ahtisham ali"
print("My name is",name, " & my age is",age)
print(f"age is :{age},name is :{name}")
print("age is : {} , namw is: {}". format(age,name))

My name is ahtisham ali  & my age is 19
age is :19,name is :ahtisham ali
age is : 19 , namw is: ahtisham ali

In [ ]:
a ="Hello everyone!"
b ="Today we're going to learn python Programing"
print(a,'\n',b)
print(a, end='')
print(b, end=' ')

Hello everyone!
 Today we're going to learn python Programing
Hello everyone!Today we're going to learn python Programing

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

Enter first number: 1
Enter second number: 2

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
result= num1+num2
print("result is",result)

Enter first number: 150
Enter second number: 154
result is 304.0

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
subtract = num1-num2
print("the first number is", num1,'\n',"the second number is",num2)
print("the result is",subtract)

Enter first number: 154
Enter second number: 158
the first number is 154
 the second number is 158
the result is -4

In [ ]:
#Swapping two numbers using third variable!!
a= int(input("Enter the first no"))
b= int(input("Enter the second no"))
temp=a
a=b
b=temp
print("after swaping")
print("first number",a)
print("second number",b)

Enter the first no15
Enter the second no45
after swaping
first number 45
second number 15

In [ ]:
#Swapping two numbers without using third variable!!
n1=int(input("enter first number"))
n2=int(input("enter second number"))
n1=n1+n2
n2=n1-n2
n1=n1-n2
print("After swaping")
print("first no. is",n1)
print("second no. is",n2)

enter first number15
enter second number45
After swaping
first no. is 45
second no. is 15

In [ ]:
#Calculating the area and perimeter of traingle by using math fuction!!
import math
a=int(input("enter the 1st side of triangle"))
b=int(input("enter the 2nd side of triangle"))
c=int(input("enter the 3rd side of triangle"))
perimeter=a+b+c
s=perimeter/2
area= math.sqrt(s*(s-a)*(s-b)*(s-c))
print("Area of triangle is",area,'\n',"& perimeter is",perimeter)

enter the 1st side of triangle45
enter the 2nd side of triangle15
enter the 3rd side of triangle45
Area of triangle is 332.7794877993534
 & perimeter is 105

In [ ]:
f=float(input("enter temperature in fahrenheit:"))
c=(f-32)*5/9
print(c)

enter temperature in fahrenheit:132
55.55555555555556

In [ ]:
import math
r= float(input("enter the radius pof cylinder"))
h= float(input("enter the height of the cylinder"))
surface_area=2*math.pi*r*(r+h)
print(surface_area)

enter the radius pof cylinder15.5
enter the height of the cylinder14
2872.9864817078656

In [ ]:
 principal = float(input("Enter the principal amount: "))
 rate = float(input("Enter the annual rate of interest (in %): "))
 time = float(input("Enter the time (in years): "))
 compound_interest = principal * (1 + rate / 100)**time- principal
 print("The compound interest is:", compound_interest)

Enter the principal amount: 15
Enter the annual rate of interest (in %): 45
Enter the time (in years): 2
The compound interest is: 16.5375

In [ ]:
import math
b=float(input("enter the base of the triangle: "))
h=float(input("enter the height of the triangle: "))
hypotaneous= math.sqrt(b**2+h**2)
print(f"hypotaneous of triangle is {hypotaneous:.2f}")

enter the base of the triangle: 15
enter the height of the triangle: 4
hypotaneous of triangle is 15.52

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
average = (num1 + num2 + num3) / 3
print("The average is:", average)

Enter first number: 10
Enter second number: 50
Enter third number: 15
The average is: 25.0

In [ ]:
marks = []
for i in range(5):
    marks.append(float(input(f"Enter marks for subject {i + 1}: ")))
total_marks = sum(marks)
percentage = (total_marks / 500) * 100
print("Total Marks:", total_marks)
print("Percentage:", percentage)

Enter marks for subject 1: 85
Enter marks for subject 2: 74
Enter marks for subject 3: 84
Enter marks for subject 4: 56
Enter marks for subject 5: 96
Total Marks: 395.0
Percentage: 79.0

In [ ]:
basic_salary = float(input("Enter the basic salary: "))
hra_percentage = float(input("Enter HRA percentage: "))
da_percentage = float(input("Enter DA percentage: "))
hra = (hra_percentage / 100) * basic_salary
da = (da_percentage / 100) * basic_salary
gross_salary = basic_salary + hra + da
print("Gross Salary is:", gross_salary)

Enter the basic salary: 45000
Enter HRA percentage: 54000
Enter DA percentage: 15
Gross Salary is: 24351750.0

In [ ]:
import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius * radius
print("The area of the circle is:", area)

Enter the radius of the circle: 4
The area of the circle is: 50.26548245743669

In [ ]:
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
area = length * width
print("The area of the rectangle is:", area)

Enter the length of the rectangle: 10
Enter the width of the rectangle: 4
The area of the rectangle is: 40.0

In [ ]:
side = float(input("Enter the side length of the square: "))
area = side * side
print("The area of the square is:", area)

Enter the side length of the square: 10
The area of the square is: 100.0

In [ ]:
import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius * radius
circumference = 2 * math.pi * radius
print("Area of the circle:", area)
print("Circumference of the circle:", circumference)

Enter the radius of the circle: 7
Area of the circle: 153.93804002589985
Circumference of the circle: 43.982297150257104

In [ ]:
import math
a = float(input("Enter side a of the triangle: "))
b = float(input("Enter side b of the triangle: "))
c = float(input("Enter side c of the triangle: "))
s = (a + b + c) / 2
area =math.sqrt(s * (s - a) * (s - b) * (s - c))
print("The area of the scalene triangle is:", area)

Enter side a of the triangle: 5
Enter side b of the triangle: 5
Enter side c of the triangle: 6
The area of the scalene triangle is: 12.0

In [ ]:
base = float(input("Enter the base of the right angle triangle: "))
height = float(input("Enter the height of the right angle triangle: "))
area = 0.5 * base * height
print("The area of the right angle triangle is:", area)

Enter the base of the right angle triangle: 10
Enter the height of the right angle triangle: 5
The area of the right angle triangle is: 25.0

In [ ]:
a = float(input("Enter the length of the first parallel side of the trapezium: "))
b = float(input("Enter the length of the second parallel side of the trapezium: "))
height = float(input("Enter the height of the trapezium: "))
area = 0.5 * (a + b) * height
print("The area of the trapezium is:", area)

Enter the length of the first parallel side of the trapezium: 10
Enter the length of the second parallel side of the trapezium: 15
Enter the height of the trapezium: 10
The area of the trapezium is: 125.0

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
a=5
print(type(a))

<class 'int'>

In [ ]:
b=2.5
c="hello"
z='p1'
print(type(b),'\n',type(c),'\n',type(z))
b=5
print(type(b))

<class 'float'>
 <class 'str'>
 <class 'str'>
<class 'int'>

In [ ]:
x,y,z= 10,2.5,'hello'
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'str'>

In [ ]:
x=y=z=10,2.5,'hello'
print(x,y,z)

(10, 2.5, 'hello') (10, 2.5, 'hello') (10, 2.5, 'hello')

In [ ]:
x=45.5
y='hello'
print(id(x),'\n',id(y))

2327913593008
 2327894342448

In [ ]:
a=5
print(a)
x=0B101
print(x)

5
5

In [ ]:
x=0o0123
print(x)

83

In [ ]:
x=0x10
print(x)

16

In [ ]:
x=0xA14
print(x)

2580

In [ ]:
a=10
b=0b010
c=0o10
d=0x10
print(a,'\n',b,'\n',c,'\n',d)

10
 2
 8
 16

In [ ]:
y=0o1234
x=232.5
z=0x1234
print(x,y,z)

232.5 668 4660

In [ ]:
a=1.2e3
print(a)

1200.0

In [ ]:
x=10
binary=bin(x)
octal=oct(x)
hexadecimal=hex(x)
print(hexadecimal,'\n',binary,'\n',octal)

0xa
 0b1010
 0o12

In [ ]:
x=2+3j
print(type(x))

<class 'complex'>

In [ ]:
a=0b11+3j
b=0o11+3j
c=0x1f+3j
print(a,b,c)

(3+3j) (9+3j) (31+3j)

In [ ]:
x=3j
print(x)

3j

In [ ]:
x=2.3+45j
print(x)

(2.3+45j)

In [ ]:
y=125
x=bin(y)
print(x)

0b1111101

In [ ]:
x=23+4j
print(x.real)
print(x.imag)

23.0
4.0

In [ ]:
a=True
b=False
c=None
print(type(a),'\n',type(b),'\n',type(c))

<class 'bool'>
 <class 'bool'>
 <class 'NoneType'>

In [ ]:
a=20
b=16
c=a>b
print(type(c),c)

<class 'bool'> True

In [ ]:
x='''learning
python
is
very
easy'''
print(x)

learning
python
is
very
easy

In [ ]:
a=int(2.5)
b=int(25.66)
c=int('10')
print(a,b,c)

2 25 10

In [ ]:
a=float(20)
c=float(False)
d=float('10')
print(a,c,d)

20.0 0.0 10.0

In [ ]:
a=complex(10)
b=complex(False,True)
c=complex(4,45)
d=complex('45')
print(a,b,c,d)

(10+0j) 1j (4+45j) (45+0j)

In [ ]:
a=bool(-45)
c=bool(45)
b=bool(0.0)
d=bool(None)
e=bool('hi')
f=bool(0+0j)
g=bool(  0 )
print(a,b,c,d,e,f,g)

True False True False True False False

In [ ]:
a=chr(48)
print(a)

0

In [ ]:
a=ord('0')
print(a)

48

In [ ]:
a=35
b=2
c=a/b
print(c)

17.5

In [ ]:
x="10"
y=int(x)+5
print(y)

15

In [ ]:
x= 48.6666
y= int(x)+5
print(y)

53

In [ ]:
x=[45,2,'pi']
print(type(x))

<class 'list'>

In [ ]:
x=(45,2,'pi')
print(type(x))

<class 'tuple'>

In [ ]:
z= range(10)
print(type(z))

<class 'range'>

In [ ]:
x={"name":"ahtisham","age":"19"}
print(x)
print(type(x))

{'name': 'ahtisham', 'age': '19'}
<class 'dict'>

In [ ]:
x={6,7,5}
y=frozenset([1,2,3])
print(type(x),type(y))

<class 'set'> <class 'frozenset'>

In [ ]:
a=15
b=3
print(a+b,a-b,a*b,a/b,a//b,a**b,a%b)

18 12 45 5.0 5 3375 0

In [ ]:
a=15
b=30
print(a==b,a!=b,a>b,a<b,a>=b,a<=b)

False True False True False True

In [ ]:
a=True and False
b=True or False
c= not False
print(a,b,c)

False True True

In [ ]:
a=5
b=6
c=3
print((a>b)and(b!=a))
print((a>b)or(b!=c))
print(not(a>b))
print((a>b)or(not(b)))

False
True
True
False

In [ ]:
a=5
b=3
print(a&b)
print(a|b)
print(a^b)
print(a-b)
print(a<<b)
print(a>>b)
print(-a)

1
7
6
2
40
0
-5

In [ ]:
n = int(input("Enter a number: "))
print("Divisible by 4" * ((n >> 2) << 2 == n))

Enter a number: 4
Divisible by 4

In [ ]:
c="45"
print(c)

45

In [ ]:
x=8
a=5
b=4
c=3
d=5
e=7
x+=3
a-=3
b*=3
c/=3
d**=3
e%=3
print(x,a,b,c,d,e)

11 2 12 1.0 125 1

In [ ]:
x=[1,2,3]
y=[1,2,3]
z=x
print(x is y)
print(x is z)
print(x is not y)
print(id(z))
print(id(x))

False
True
True
1813125444928
1813125444928

In [ ]:
print('a' in 'apple')
print('b' in 'apple')
print('s' not in 'apple')

True
False
True

In [ ]:
fruits={'apple','banana','cherry'}
print('apple' in fruits)
print('banana' not in fruits)

True
False

In [ ]:
diagonal1 = float(input("enter d1"))
diagonal2 = float(input("enter d2"))
area = (diagonal1 * diagonal2) / 2
print(area)

enter d145
enter d245
1012.5

In [ ]:
side = float(input())
volume = side ** 3
surface_area = 6 * (side ** 2)
print(volume)
print(surface_area)

45
91125.0
12150.0

In [ ]:
length = float(input())
width = float(input())
height = float(input())
volume = length * width * height
surface_area = 2 * (length * width + width * height + height * length)
print(volume)
print(surface_area)

10
10
10
1000.0
600.0

In [ ]:
import math
radius = float(input())
height = float(input())
volume = math.pi * (radius ** 2) * height
surface_area = 2 * math.pi * radius * (radius + height)
print(volume)
print(surface_area)

4
10
502.6548245743669
351.85837720205683

In [ ]:
import math
radius = float(input())
height = float(input())
slant_height = float(input())
volume = (1/3) * math.pi * (radius ** 2) * height
surface_area = math.pi * radius * (radius + slant_height)
print(volume)
print(surface_area)

4
5
7
83.7758040957278
138.23007675795088

In [ ]:
import math
radius = float(input())
volume = (4/3) * math.pi * (radius ** 3)
surface_area = 4 * math.pi * (radius ** 2)
print(volume)
print(surface_area)

4
268.082573106329
201.06192982974676

In [ ]:
import math
circle_radius = float(input())
rectangle_length = float(input())
rectangle_width = float(input())
triangle_side1 = float(input())
triangle_side2 = float(input())
triangle_side3 = float(input())
circle_perimeter = 2 * math.pi * circle_radius
rectangle_perimeter = 2 * (rectangle_length + rectangle_width)
triangle_perimeter = triangle_side1 + triangle_side2 + triangle_side3
print(circle_perimeter)
print(rectangle_perimeter)
print(triangle_perimeter)

45
45
10
10
10
10
282.7433388230814
110.0
30.0

In [ ]:
principle = float(input())
rate = float(input())
time = float(input())
simple_interest = (principle * rate * time) / 100
print(simple_interest)

10
2
3
0.6

In [ ]:
fahrenheit = float(input())
celsius = (fahrenheit - 32) * 5 / 9
print(celsius)

173
78.33333333333333

In [ ]:
a = float(input())
b = float(input())
a, b = b, a
print(a)
print(b)

4
5
5.0
4.0

In [ ]:
a = float(input())
b = float(input())
a = a + b
b = a - b
a = a - b
print(a)
print(b)

4
5
5.0
4.0

In [ ]:
a = float(input())
b = float(input())
a = a + b
b = a - b
a = a - b
print(a)
print(b)

4
5
5.0
4.0

In [ ]:
a= float(input("enter a: "))
b= float(input("enter b: "))
a= a+ b
b=a-b
a=a-b
print(a)
print(b)

enter a: 54
enter b: 454
454.0
54.0

In [ ]:
 n=int(input("enter a no. :  "))
print("multiply by 4" ,'\n',(n<<2))

enter a no. :  4
multiply by 4
 16

In [ ]:
n=int(input())
print(n<<2)

4
16

In [ ]:
str1="computer"
print(str1[-2])

e

In [ ]:
n="Python Programming"
print(n[0:6])
print(n[:6])
print(n[:20])

Python
Python
Python Programming

In [ ]:
name=input("enter your name : ")
age=int(input("enter your age : "))
print("my name is {} and  i am {} years old ".format(name,age))

enter your name : Ahtisham ali
enter your age : 19
my name is Ahtisham ali and  i am 19 years old

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("My name is %s and I am %d years old" % (name, age))

Enter your name: AHTISHAM ALI
Enter your age: 19
My name is AHTISHAM ALI and I am 19 years old

In [ ]:
n="Ahtisham Ali"
print("Ali" in n)
print("khan" not in n)

True
True

In [ ]:
print("the integer no. is:{}".format(123))
print("the integer no. is:{:f}".format(123))
print("the integer no. is:{:8.23f}".format(123))
print("the integer no. is:{:.083f}".format(123))
print("the binary is:{:0b}".format(23))
print("the hexadecimal is:{0:x}".format(123))
print("the octal is:{:0o}".format(23))
print("the decimal is:{:+d}".format(23))
print("the decimal is:{:-d}".format(23))
print("the decimal is:{:>5d}".format(23))

the integer no. is:123
the integer no. is:123.000000
the integer no. is:123.00000000000000000000000
the integer no. is:123.00000000000000000000000000000000000000000000000000000000000000000000000000000000000
the binary is:10111
the hexadecimal is:7b
the octal is:27
the decimal is:+23
the decimal is:23
the decimal is:   23

In [ ]:
n= " Hello World "
print(n.lower())
print(n.upper())
print(n.strip())
words=n.split()
print(words)
joined=" _ ".join(words)
print(joined)
print(n.replace("Hello","ahtisham ka"))
print(n.startswith(" Hello"))
print(n.endswith(" World "))

 hello world
 HELLO WORLD
Hello World
['Hello', 'World']
Hello _ World
 ahtisham ka World
True
True

In [ ]:

x='python'
y='java'
print(len(y))

4

In [ ]:
t='ki BtechAIstudents koi'
print(t.find('e',4,15))

5

In [ ]:
t='motihari'
print(t.index('m'))
print(t.count('i'))

0
2

In [ ]:
l1=[]
print(l1)

[]

In [ ]:
l2=[2,34,'u']
l2[2]='a'
print(l2[2])

a

In [ ]:
t1=(2,35,'u')
print(t1[2])

u

In [ ]:
t1=(4,)
print(type(t1))

<class 'tuple'>

In [ ]:
t1=(1,2,3,4)
l1=list(t1)
print(l1)
l1[0]=5
print(l1)

[1, 2, 3, 4]
[5, 2, 3, 4]

In [ ]:
s1={2,3,2,1,5}
print(s1)
print(type(s1))
s2={2}
s1=s2
print(s2)

{1, 2, 3, 5}
<class 'set'>
{2}

In [ ]:
d1=set()
print(type(d1))

<class 'set'>

In [ ]:
name="john doe"
a=name.split()
print(a)

['john', 'doe']

In [ ]:
sentence="python is fun!"
words=sentence.split()
reversed_sentence=''.join(reversed(words))
print(reversed_sentence)

fun!ispython

In [ ]:
t1="madam"
t2=t1[::-1]
print(t1==t2)

True

In [ ]:
x=float(input("no:"))
if x==0:
    print("pagal hai aap!!")
    print("aur doctor ke pass jaye!!")
elif x==x+3:
    print("sahi")
else:
    print("wrong input")

no:0
pagal hai aap!!
aur doctor ke pass jaye!!

In [ ]:
a=float(input("1st no: "))
b=float(input("2nd no: "))
if a>b:
    print("a is greater than b")
elif a<b:
    print("b is greater than a")
else:
    print("a=b")

1st no: 12
2nd no: 24
b is greater than a

In [ ]:
age=int(input("Enter your age: "))
if age>=18:
    print("Yes!! you are eligible for vote.")
elif age<18:
    print("You are not eligible for vote.")

Enter your age: 15
You are not eligible for vote.

In [ ]:

x=int(input("enter your number "))
if (x<0):
    print("your absolute value is ",x*(-1))

enter your number -5
your absolute value is  5

In [ ]:
x=int(input("enter your number "))
if (x<0):
    n1=(abs(x))
    print(n1)
print("your absolute value is: {:+d}".format(n1))

enter your number -4
4
your absolute value is: +4

In [ ]:
n=int(input("enter number: "))
if n%2==0:
    print("{} is even".format(n))
else:
    print("{} is odd".format(n))

enter number: 4
4 is even

In [ ]:
n=int(input("enter number: "))
if n>0:
    print("{} is positive number".format(n))
else:
    print("{} is negative or zero".format(n))

enter number: 4
4 is positive number

In [ ]:
a=int(input("enter number: "))
b=int(input("enter number: "))
if a>b:
    print("{}  is greater than {} ".format(a,b))
else:
    print("{} is greater than {} ".format(b,a))

enter number: 4
enter number: 7
7 is greater than 4

In [ ]:
a=int(input("enter number: "))
b=int(input("enter number: "))
print(a if a<b else b)

enter number: 4
enter number: 5
4

In [ ]:
a=int(input("enter your age: "))
if a>=18:
    w=int(input("enter your weight: "))
    if w>=50:
        print("you are eligible to donate the blood😊")
    else:
        print("you are underweight😢")
else:
    print("you are underage😢")

enter your age: 45
enter your weight: 55
you are eligible to donate the blood😊

In [ ]:
a=int(input("enter number a: "))
b=int(input("enter number b: "))
c=int(input("enter number c: "))
if a>b:
    print("a is greater than b")
    if a>c:
        print("a is greater than c and b")
    else:
        print("c is greater")
if b>a:
    print("b is greater than a")
    if b>c:
        print("b is greater than c and a")
if c>a:
    print("c is greater than a")
    if c>b:
        print("c is greater than b")

enter number a: 45
enter number b: 54
enter number c: 74
b is greater than a
c is greater than a
c is greater than b

In [ ]:
a=int(input("enter number a: "))
b=int(input("enter number b: "))
c=int(input("enter number c: "))
if a>b:
    if a>c:
        print("a is greater than c and b")
    else:
        print("c is greatest")
if b>c:
    print("%d is greater "%(b))
else:
    print(f"{c} is greater")

enter number a: 4
enter number b: 5
enter number c: 7
7 is greater

In [ ]:
m=float(input("enter your marks : "))
if m>=90:
    print("Grade A+")
elif 80<m<90:
    print("Grade A")
elif 70<m<80:
    print("Grade B")
elif 60<m<70:
    print("Grade c")
elif 33<m<60:
    print("Grade D")
else:
    print("FAIL")

enter your marks : 4
FAIL

In [ ]:
char = input("Enter a character: ")
char = char.lower()
if char == 'a':
    print("Vowel")
elif char == 'e':
    print("Vowel")
elif char == 'i':
    print("Vowel")
elif char == 'o':
    print("Vowel")
elif char == 'u':
    print("Vowel")
else:
    print("Not a vowel")

Enter a character: i
Vowel

In [ ]:
count=1
while count <=5:
    print(count)
    count +=1

1
2
3
4
5

In [ ]:
count=10
while count>=1:
    print(count)
    count-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
n=10
while n>0:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
n=input("enter any string: ")
i=0
while i<len(n):
    print(n[i],end="  ")
    i+=1

enter any string: Ahtisham Ali
A  h  t  i  s  h  a  m     A  l  i

In [ ]:
i=1
while(i<=20):
    if(i%2!=0):
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

In [ ]:
n=input("enter any string: ")
while n!="thank you"not in n:
    n=input("enter any string: ")
    print(n)

enter any string: thank you

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
l1=(3.5,3.6,7.8,9.1)
for i in l1:
    print(i*2)

7.0
7.2
15.6
18.2

In [ ]:
d1={'city1':'mumbai','city2':'lucknow','city3':'delhi'}
for i in d1:
    print(i)

city1
city2
city3

In [ ]:
s1="python is fun"
for i in s1.split():
    print(i)

python
is
fun

In [ ]:
num=int(input("enter your number: "))
if num>0:
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    print("the factorial of {} is {}".format(num,fact))
else:
    if num==0:
        print("the factorial is",1)
    if num<0:
        print("the factorial is neagtive can't define")

enter your number: 5
the factorial of 5 is 120

In [ ]:
num = int(input("Enter your number: "))
if num > 0:
    fact = 1
    i = 1
    while i <= num:
        fact = fact * i
        i+=1
    print(fact)

Enter your number: 5
120

In [ ]:
num = int(input("Enter your number: "))
if num>1:
    for i in range(2,(num//2)+1):
        if num%i==0:
            print(num,"is not prime number")
        else:
            print(num," is prime number")

            break

Enter your number: 5
5  is prime number

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
for i in range(0,n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 5
0 1 1 2 3

for i in range(2,int(num/2)+1):
    if i%2==0:
        break
print(i)

In [ ]:
for num in range(2, 51):
    prime = True
    for i in range(2, int(num / 2) + 1):
        if num % i == 0:
             prime = False
            break
    if prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
num=int(input("enter your number: "))
for i in range(2,int(num/2)+1):
    if num%i==0:
        print("%d is not a prime number"%num)
        break
else:
    print("%d is a prime number"%num)

enter your number: 5
5 is a prime number

In [ ]:
for x in range(2,10):
    for i in range(2,int(x/2)+1):
        if x%i==0:
            break
    else:
        print(x)

2
3
5
7

In [ ]:
for i in range(6):
    print(" " * (6 - i) + "* " * (i + 1))

for i in range(5, -1, -1):
    print(" " * (6 - i) + "* " * (i + 1))

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
n = int(input("enter rows number "))
for i in range(1, n+1):
    print('*' * i)

enter rows number 11
*
**
***
****
*****
******
*******
********
*********
**********
***********

In [ ]:
for i in range(0,n):
    for j in range(0,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
n=10
for i in range(0,n):
    for j in range(0,i):
        print(" ",end="*")
    print()

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *

In [ ]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
        print("*",end=" ")
    print()
for i in range(0,n):
    for j in range(0,i):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*


*
* *
* * *
* * * *

In [ ]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=" ")

    for j in range(0,2*i+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
for x in range(0,5):
    for y in range(0,3):
        print("*",end="")
    print()

***
***
***
***
***

In [ ]:
i = 0                # i ko 0 se shuru kiya
while i < 5:         # jab tak i 5 se chhota hai, loop chalega
    j = 0            # har baar naya j banate hain, j ki value 0 se shuru hoti hai
    while j < i + 1: # jab tak j ki value i + 1 se chhoti hai, loop chalega
        print(j + 1, end="") # j ko 1 se add karke print karte hain (j+1 kyunke python me 0 se count hota hai)
        j = j + 1         # j ki value badhate hain
    i = i + 1             # i ko badhate hain
    print()               # ek new line print karte hain

In [ ]:
x=0
while x<5:
    j=0
    while(j<3):
        print("*",end="")
        j=j+1
    x=x+1
    print()

***
***
***
***
***

In [ ]:
n=6
for x in range(0,n):
    for y in range(0,x+1):
        print(x+1,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [ ]:
# User se input le rahe hain
string = input("Apna string daalein: ")

# String ko reverse karne ke liye ek empty string banate hain
reverse_string = ""

# Loop ke through string ko reverse karte hain
for char in string:
    reverse_string = char + reverse_string  # har character ko reverse string ke shuru mein daal rahe hain

# Agar original string aur reverse string same hain to palindrome hai
if string == reverse_string:
    print("Yeh string palindrome hai.")
else:
    print("Yeh string palindrome nahi hai.")

Apna string daalein: eye
Yeh string palindrome hai.

In [ ]:
i=0
while i<5:
    j=0
    while j<i+1:
        print(j+1,end="")
        j=j+1
    i=i+1
    print()

1
12
123
1234
12345

In [ ]:
num=int(input("enter the digit: "))
sum=0
while(num!=0):
    r=num%10
    num=num//10
    sum=sum+r
print("the sum of digit is",sum)

enter the digit: 343
the sum of digit is 10

In [ ]:
string=input("Enter any word: ")
t=string
reverse=""
for char in string:
    reverse = char + string
print(reverse,string)

Enter any word: python
npython python

In [ ]:
num=int(input())
t=num
rev=0
while num!=0:
    r=num%10
    num=num//10
    rev=rev*10+r
if rev==t:
    print("number is palindrome")
else:
    print("number is not palindrome")

454
number is palindrome

In [ ]:
num=int(input("enter any number: "))
for j in range(1,11):
    b=num*j
    print(b)

enter any number: 2
2
4
6
8
10
12
14
16
18
20

In [ ]:
i=int(input())
while i<5:
    pass
    print(i)

5

In [ ]:

def findsum(a,b):
    result = a+b
    return result

x=int(input("enter number 1: "))
y=int(input("enter number 2: "))
z=findsum(x,y)
print("the sum of num 1 & num 2 is ",z)

enter number 1: 45
enter number 2: 55
the sum of num 1 & num 2 is  100

In [ ]:
for i in range(6):
    for j in range(7):
        if (i == 0 and j % 3 != 0) or (i == 1 and j % 3 == 0) or (i - j == 2) or (i + j == 8):
            print("❤️", end="")
        else:
            print("  ", end="")
    print()

  ❤️❤️  ❤️❤️
❤️    ❤️    ❤️
❤️          ❤️
  ❤️      ❤️
    ❤️  ❤️
      ❤️

In [ ]:

def findsum(a,b):
    result = a+b
    print("result",result)

x=int(input("enter number 1: "))
y=int(input("enter number 2: "))
z=findsum(x,y)
print("the sum of num 1 & num 2 is ",z)

enter number 1: 45
enter number 2: 54
result 99
the sum of num 1 & num 2 is  None

In [ ]:
def arithmetic(num1,num2):
    add=num1+num2
    sub=num1-num2
    multiply=num1*num2
    div=num1/num2
    return add,sub,multiply,div
a,b,c,d =arithmetic(54,21)
print(a,b,c,d)

75 33 1134 2.5714285714285716

In [ ]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
x=int(input("enter any poistive integer "))
print(fact(x))

enter any poistive integer 5
120

In [ ]:
def f(arg1,arg2,arg3=4,arg4=8):
    print(arg1,arg2,arg3,arg4)
f(3,2)
f(10,20,30,40)
f(20,50,arg4=10)
f(arg4=2,arg1=3,arg=2)

3 2 4 8
10 20 30 40
20 50 4 10

TypeError: f() got an unexpected keyword argument 'arg'

In [ ]:
def function(fname,lname):
    print(f"My name is {fname} and the last name is {lname}")
function("Ahtisham","Ali")

My name is Ahtisham and the last name is Ali

In [ ]:
def function(fname="ahtisham",lname="ali"):
    print(f"My name is {fname} and the last name is {lname}" )
function("ahtisham","ali")

My name is ahtisham and the last name is ali

In [ ]:

x=20             #Global
def sample():

    global x

    x=x+1      #local
    print(x)


sample()           #local

    #Global

21

In [ ]:
x=25        #Global
def f1():
    y=15    #Local to f1()
    def f2():
        nonlocal y   #local to f2()
        y=y+1
        print(y)
    f2()
f1()

16

In [ ]:
import turtle
import time
turtle.pensize(2)
turtle.color("silver")
turtle.pencolor("black")
turtle.begin_fill()
#turtle.speed(-2)
turtle.seth(-120)
turtle.forward(60)
turtle.left(90)
turtle.forward(120)
turtle.left(90)
turtle.forward(60)
turtle.left(90)
turtle.forward(120)
turtle.left(45)
turtle.forward(10)
turtle.left(45)
turtle.forward(55)
turtle.left(45)
turtle.forward(10)
turtle.left(45)
turtle.forward(120)
turtle.left(45)
turtle.forward(10)
turtle.left(45)
turtle.forward(55)
#turtle.hideturtle()
turtle.left(45)
turtle.forward(10)
turtle.backward(10)
turtle.right(45)
turtle.backward(55)
turtle.right(45)
turtle.backward(10)
turtle.left(30)
turtle.backward(30)
turtle.left(105)
turtle.forward(105)
turtle.right(75)
turtle.forward(30)
turtle.left(35)
turtle.forward(10)
turtle.left(145)
turtle.forward(34)
turtle.left(45)
turtle.forward(8)
turtle.left(30)
turtle.forward(103)
turtle.left(30)
turtle.forward(10)
turtle.left(45)
#turtle.hideturtle()
turtle.forward(34)
turtle.backward(34)
turtle.left(135)
turtle.forward(10)
turtle.right(30)
turtle.forward(40)
turtle.right(90)
turtle.forward(20)
turtle.backward(180)
turtle.left(90)
turtle.forward(15)
turtle.right(90)
turtle.forward(180)
turtle.hideturtle()
turtle.end_fill()
time.sleep(50)

In [ ]:
print("Nawab Shah Ahtisham Ali Ghazi Miya!!!!")

Nawab Shah Ahtisham Ali Ghazi Miya!!!!

In [ ]:
y=30       #Global
x=25        #Global
def f1():
    y=15    #Local to f1()
    def f2():
        nonlocal y   #local to f2()
        y=y+1
        print(y)
    f2()
f1()

16

In [ ]:
def fact(num):
    if num==0:
        return 1
    else:
        return num* fact(num-1)
fact(5)
n= int(input("enter any number: "))
f=fact(n)
print(f"The factorial of {n} is {f}")

enter any number: 5
The factorial of 5 is 120

In [ ]:
#write  a python program to genrate fibonacci series using recursion
def fib(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

def fibseries(n):
    for i in range(n):
        print(fib(i), end=" ")

num = int(input("E
                nter the number of terms in the Fibonacci series: "))
fibseries(num)

Enter the number of terms in the Fibonacci series: 5
0 1 1 2 3

In [ ]:
#write a program a square a number using lamba function.
s=lambda n: n**2
num=int(input("enter any number: "))
print(f"The square of {num} is {s(num)}")

enter any number: 4
The square of 4 is 16

In [ ]:
n= lambda a,b: a+b
x=int(input("enter number: "))
y=int(input("enter number: "))
print(f"The sum of {x} and {y} is {n(x,y)}")

enter number: 4
enter number: 5
The sum of 4 and 5 is 9

In [ ]:
#create a lambda functiopn to find largest number btwn 2 numbers.
l = lambda a, b: a if a > b else b
x=int(input("enter number: "))
y=int(input("enter number: "))
print(f"The largest number betweeen {x} and {y} is {l(x,y)}")

enter number: 555
enter number: 1111
The largest number betweeen 555 and 1111 is 1111

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
def even(n):
    if n%2==0:
        return True
evennum=filter(even,numbers)
evennumlist=list(evennum)
print(evennum)
print(evennumlist)
print(tuple(evennumlist))

<filter object at 0x00000224668FD660>
[2, 4, 6, 8, 10]
(2, 4, 6, 8, 10)

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]

evennum=filter(lambda n:n%2==0,numbers)
evennumlist=list(evennum)
print(evennum)
print(evennumlist)
print(tuple(evennumlist))
print(set(evennumlist))

<filter object at 0x00000224668FD210>
[2, 4, 6, 8, 10]
(2, 4, 6, 8, 10)
{2, 4, 6, 8, 10}

In [ ]:
numlist=[10,5,12,78,6,1,7,9]
cubelist=list(map(lambda x:x**3,numlist))
print(cubelist) #map function can be applied on multiple list.

[1000, 125, 1728, 474552, 216, 1, 343, 729]

In [ ]:
l1=[1,2,3,4]
l2=[2,3,4,5]
result=list(map(lambda x,y:x*y,l1,l2))
print(result)

[2, 6, 12, 20]

In [ ]:
#create a map  function to find area of cricle as radius given in list
l1=[7,2,3,4]
area=list(map(lambda x: x*3.14*x,l1))
print(area)

[153.86, 12.56, 28.259999999999998, 50.24]

In [ ]:
#write a python program to find a smallest number in given list using reduce function.
import functools
l1=[1,112,3,-4.5,5,8,11,45]
smallest=functools.reduce(lambda x,y: x if x<y else y,l1)
print(smallest)

-4.5

In [ ]:
#write a python program to calculate a sum of 50 natural numbers using reduce function.
import functools

s=functools.reduce(lambda a,b:a+b,range(1,51))
print(s)

1275

In [ ]:
def demo():
    print("I am an NIETian")
demo()
sample=demo
sample()
def demo():
    demo()
    sample()

I am an NIETian
I am an NIETian

In [ ]:
import random
for i in range(10):
    print(random.random())

    print(random.randrange(10))

0.10935725865607016
9
0.9151591788810436
3
0.5702634963471497
1
0.7292119452716606
0
0.2651638118961195
9
0.3733386783949493
6
0.6695572615347861
4
0.3312254400321314
9
0.97010921722816
5
0.04863556544875203
2

In [ ]:
colors=['red','black','green']
R,B,G=colors
print(R,B,G)

red black green

In [ ]:
*a,b=[1,2,3,4]
print(type(a))
print(a,b)

<class 'list'>
[1, 2, 3] 4

In [ ]:
*b,a=[1,2,3,4]
print(type(a))
print(a,b)

<class 'int'>
4 [1, 2, 3]

In [ ]:
b,*a,c=[1,2,3,4]
print(a,b,c)

[2, 3] 1 4

In [ ]:
b,*a,c=[1,2]
print(b,a,c)

1 [] 2

In [ ]:
l1=('red','blue','yellow')
print(l1[0])

red